.glitch {
    position: relative;
    margin-top: auto;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: #000;
}
.glitch::before {
    left: 3px;
    text-shadow: 3px 0 #67ff2c;
    animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
    left: -3px;
    text-shadow: -3px 0 #ff2c5e;
    animation: glitch-effect 2s infinite linear alternate-reverse;
}
@keyframes glitch-effect {
    0% {
        clip-path: inset(13% 0 87% 0);
   }
    2% {
        clip-path: inset(12% 0 21% 0);
   }
    4% {
        clip-path: inset(57% 0 3% 0);
   }
    6% {
        clip-path: inset(33% 0 12% 0);
   }
    8% {
        clip-path: inset(65% 0 2% 0);
   }
    10% {
        clip-path: inset(95% 0 79% 0);
   }
    12% {
        clip-path: inset(90% 0 82% 0);
   }
    14% {
        clip-path: inset(58% 0 44% 0);
   }
    16% {
        clip-path: inset(95% 0 95% 0);
   }
    18% {
        clip-path: inset(85% 0 86% 0);
   }
    20% {
        clip-path: inset(85% 0 51% 0);
   }
    22% {
        clip-path: inset(17% 0 16% 0);
   }
    24% {
        clip-path: inset(67% 0 99% 0);
   }
    26% {
        clip-path: inset(89% 0 38% 0);
   }
    28% {
        clip-path: inset(38% 0 41% 0);
   }
    30% {
        clip-path: inset(41% 0 83% 0);
   }
    32% {
        clip-path: inset(50% 0 56% 0);
   }
    34% {
        clip-path: inset(60% 0 96% 0);
   }
    36% {
        clip-path: inset(5% 0 73% 0);
   }
    38% {
        clip-path: inset(48% 0 2% 0);
   }
    40% {
        clip-path: inset(6% 0 38% 0);
   }
    42% {
        clip-path: inset(85% 0 33% 0);
   }
    44% {
        clip-path: inset(40% 0 55% 0);
   }
    46% {
        clip-path: inset(73% 0 94% 0);
   }
    48% {
        clip-path: inset(56% 0 88% 0);
   }
    50% {
        clip-path: inset(76% 0 48% 0);
   }
    52% {
        clip-path: inset(40% 0 98% 0);
   }
    54% {
        clip-path: inset(83% 0 61% 0);
   }
    56% {
        clip-path: inset(12% 0 15% 0);
   }
    58% {
        clip-path: inset(67% 0 25% 0);
   }
    60% {
        clip-path: inset(86% 0 75% 0);
   }
    62% {
        clip-path: inset(37% 0 28% 0);
   }
    64% {
        clip-path: inset(9% 0 11% 0);
   }
    66% {
        clip-path: inset(99% 0 41% 0);
   }
    68% {
        clip-path: inset(37% 0 71% 0);
   }
    70% {
        clip-path: inset(75% 0 5% 0);
   }
    72% {
        clip-path: inset(43% 0 56% 0);
   }
    74% {
        clip-path: inset(89% 0 52% 0);
   }
    76% {
        clip-path: inset(76% 0 95% 0);
   }
    78% {
        clip-path: inset(19% 0 84% 0);
   }
    80% {
        clip-path: inset(74% 0 34% 0);
   }
    82% {
        clip-path: inset(22% 0 27% 0);
   }
    84% {
        clip-path: inset(25% 0 79% 0);
   }
    86% {
        clip-path: inset(52% 0 66% 0);
   }
    88% {
        clip-path: inset(41% 0 55% 0);
   }
    90% {
        clip-path: inset(51% 0 2% 0);
   }
    92% {
        clip-path: inset(7% 0 32% 0);
   }
    94% {
        clip-path: inset(51% 0 7% 0);
   }
    96% {
        clip-path: inset(93% 0 84% 0);
   }
    98% {
        clip-path: inset(86% 0 62% 0);
   }
    100% {
        clip-path: inset(46% 0 3% 0);
   }
}