@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&display=swap");
@import './mobile.scss';

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 20px;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.text{
    font-size: 80px !important;
}

a{
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.link_a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;

    &:hover {
        color: white;
        text-decoration: none;
    }

    &:before {
        content: "";
        display: block !important;
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0;
        height: 2px;
    }

    &:hover:before {
        width: 0;
        left: auto;
        right: 0;
        bottom: -5px;
        transition: all 0.35s cubic-bezier(0.694, 0.048, 0.335, 1);
    }
}

header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .logo {
        
        i {
            font-size: 60px;
        }
    }

    nav {
        position: relative;
        font-size: 10px;
        letter-spacing: 3px;
    }
}

.homepage {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;

    img{
        width: 180px;
        margin-right: 100px;
    }
}

.about{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;

    figure{
        float: left;
        width: 50%;
        flex-direction: column;
        padding: 0 20px;
    }

    article{
        float: right;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
    }

    p{
        padding: 10px 0;
    }
}

.portfolio{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;

    article{
        float: left;
        width: 50%;
        flex-direction: column;
        padding: 0 20px;

        p{
            padding: 50px 0;
        }
    }

    figure{
        float: right;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
    }
}

.contact{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;
}

.errorpage-section {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;

    .error-title {
        font-size: 50px;
        text-align: center;
        font-weight: 900;
    }

    .error-text {
        font-size: 20px;
    }
}

footer {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 30px;
    justify-content: space-between;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 10px;
        letter-spacing: 3px;

        &:not(:last-child) {
            margin-right: 10px;
        }

        i {
            font-size: 17px;
        }
    }
}