@media screen and (max-width: 740px) {
    header,
    footer {
        padding: 15px !important;
    }

    .homepage {
        figure {

            .icon {
                width: 270px !important;
                margin: 0 !important;
            }
        }

        h2 {
            font-size: 23px !important;
        }

        article {
            position: absolute !important;
            text-align: center !important;
        }
    }

    .about {
        figure {
            display: none !important;
        }

        h2 {
            font-size: 23px !important;
        }

        article {
            width: 100% !important;
            padding: 0 5% !important;
            font-size: 20px !important;

            p{
                padding: 10px 0px !important;
            }
        }
    }
}
