@media screen and (max-width: 740px) {
    header,
    footer {
        padding: 20px !important;
    }

    .homepage {
        figure {

            .icon {
                width: 270px !important;
                margin: 0 !important;
            }
        }

        h2 {
            font-size: 23px !important;
        }

        article {
            position: absolute !important;
            text-align: center !important;
        }
    }

    .about {
        figure {
            width: 100% !important;
            position: absolute !important;
            padding: 0 !important;

            img{
                width: 270px !important;
                z-index: -1;
                opacity: .5;
            }
        }

        h2 {
            font-size: 23px !important;
        }

        .about-link{
            font-size: 13px !important;
        }

        article {
            width: 100% !important;
            padding: 0 5% !important;
            font-size: 15px !important;

            p{
                padding: 10px 0px !important;
            }

            img{
                width: 15px !important;
            }
        }
    }
}